/* body {
    padding: 2%;
    text-align: center;
  }
 #slideShow {
    overflow: hidden;
    height: 374px;
    width: 665px;
    margin: 0 auto;
  }
 .slideWrapper {
    width: 7320px;
    -webkit-animation: slide 14s ease infinite;
  }
 .slide {
    float: left;
    height: 374px;
    width: 665px;
  }
 @-webkit-keyframes slide {
    10% {margin-left: 0px;}
    15% {margin-left: -665px;}
    20% {margin-left: -665px;}
    25% {margin-left: -1330px;}
    30% {margin-left: -1330px;}
    35% {margin-left: -1995px;}
    40% {margin-left: -1995px;}
    45% {margin-left: -2660px;}
    50% {margin-left: -2660px;}
    55% {margin-left: -3325px;}
    60% {margin-left: -3325px;}
    65% {margin-left: -3990px;}
    70% {margin-left: -3990px;}
    75% {margin-left: -4655px;}
    80% {margin-left: -4655px;}
    85% {margin-left: -5230px;}
    90% {margin-left: -5230px;}
    95% {margin-left: -5985px;}
    100% {margin-left: -5985px;}
    105% {margin-left: -6650px;}
    110% {margin-left: 7315px;}
  } */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #dadada;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}
img{
    width:100% ;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
}
.image{
    width: 22%;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
}
.image:hover img{
    transform: scale(1.2);
}

.gallery{
  position: fixed;
  top:-20px;
  width: 100% !important;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
  transition: .5s;
  user-select: none;
}
.close{
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 25px;
}

.control{
  font-size: 35px;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
}

.control.prew{
  left: 15px;
}
.control.next{
  right: 15px;
}

.gallery__inner{
  width: 70%;
  height: 70%;
  margin: 0 auto;
}

.show{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.hide{
  display: none;
}